*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
  background: #5BC8F5;
}

#root {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  overflow: hidden;
}
